<mdl-layout-header-row>
  <mdl-layout-title>ЕЖЕДНЕВНИК</mdl-layout-title>
  <mdl-layout-spacer></mdl-layout-spacer>
  <nav class="mdl-navigation">
    ЗАДАЧИ:
    <a class="mdl-navigation__link" routerLink="/task"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
     <a class="mdl-navigation__link" routerLink="/unfinished_tasks">Незавершенные</a>
     <a class="mdl-navigation__link" routerLink="/finished_tasks">Завершенные</a>
  </nav>
  <mdl-layout-spacer></mdl-layout-spacer>  
  <span>Добро пожаловать, {{ username }}!</span>

</mdl-layout-header-row>
