<mdl-layout-header-row>
  <mdl-layout-title>ЕЖЕДНЕВНИК</mdl-layout-title>
  <mdl-layout-spacer></mdl-layout-spacer>
  <nav class="mdl-navigation">
    ЗАДАЧИ:
     <a class="mdl-navigation__link" routerLink="/unfinished_tasks">Незавершенные</a>
     <a class="mdl-navigation__link" routerLink="/finished_tasks">Завершенные</a>
  </nav>
  <mdl-layout-spacer></mdl-layout-spacer>  
  <span>Добро пожаловать, {{ username }}!</span>

  <!-- Меню -->
  <!-- <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
  <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
     <mdl-menu-item mdl-ripple (click)="action()">Some Action</mdl-menu-item>
     <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Another Action</mdl-menu-item>
     <mdl-menu-item mdl-ripple disabled>Disabled Action</mdl-menu-item>
     <mdl-menu-item>Yet Another Action</mdl-menu-item>
  </mdl-menu> -->

</mdl-layout-header-row>