div {
    margin: 20px;
}

label {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666666;
    margin-right: 15px;
    font-size: 13px;
    line-height: 1.475;
    text-align: right;
    display: inline-block;
    width: 16%;
}

input, textarea, select {
    width: 70%;
    margin-bottom: 15px;
}

div label:nth-child(5) {
    vertical-align: top;
}

textarea {
    height: 60px;
}

span {
    display: inline-block;
    width: 30px;
    padding: 2px 5px;
    font-size: 14px;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: -10px;
}

input, textarea {
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px 0;
    border-radius: 4px;
}

input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

textarea {
    width: 72.7%;
}

input[type="date"] {
    padding: 1.6px 0;
}