<form #frmCreateNote="ngForm" novalidate>
    <label for="task">Задача</label>
    <span class="icon"> <i class="fa fa-info" aria-hidden="true"></i> </span>
    <input type="text" id="task" name="task" required [(ngModel)]="note.task" #noteName="ngModel">
    <span [hidden]="noteName.valid || noteName.untouched" class="alert-danger">Поле является обязательным для заполнения!</span>
    <br>

    <label for="description">Описание</label>
    <textarea id="description" name="description" [(ngModel)]="note.description"></textarea>
    <br>

    <label for="date">Дата</label>
    <span class="icon"> <i class="fa fa-calendar" aria-hidden="true"></i> </span>
    <input type="date" id="date" name="date" required [(ngModel)]="note.date">
    <br>

    <label for="priority">Приоритет</label>
    <span class="icon"> <i class="fa fa-flag" aria-hidden="true"></i> </span>
    <select id="priority" (change)="priorityChange($event)">
        <option value="">Низкий</option>
        <option value="">Средний</option>
        <option value="">Высокий</option>
    </select>

    <button (click)="note_ser.save(note)" [disabled]="frmCreateNote.invalid"> Сохранить </button>
</form>
